body {
    background-image: url(../images/jedi.png), url(../images/bg.png);
    background-repeat: no-repeat, repeat;
    background-position: 55px 20px, 0 0;
}

#menu {
    height:40px;
    margin-bottom:30px;
    padding-left:162px;
}

#menu a.link {
    color:#fff;
    font-size:18px;
    font-family:Arial;
    padding:0px 4px;
    position:relative;
    text-decoration:none;
}

#menu a.link:after {
    content:'/';
    position:absolute;
    right:-4px;
    top:0px;
    color:#ccc;
}

#menu a.link:last-child:after {
    display:none;
}

#menu a.link:hover {
    text-decoration:none;
    color:#0ebb0e;
}

#menu a.button {
    font-size:24px;
    padding:10px 15px;
}

.button {
    font-family:Arial;
    text-decoration:none;

    text-shadow: 0 1px 1px rgba(0,0,0,.3);

    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	box-shadow: 0 1px 2px rgba(0,0,0,.2);

    color: #fff;
	border: solid 1px #333;
    background: #363636;
	background: -webkit-gradient(linear, left top, left bottom, from(#5b5b5b), to(#151515));
	background: -moz-linear-gradient(top,  #5b5b5b,  #151515);

    border-radius:25px;
}

.button:hover {
	text-decoration: none;
    color: #0ebb0e;
}

.button:active {
    background: #363636;
	background: -webkit-gradient(linear, left top, left bottom, from(#5b5b5b), to(#151515));
	background: -moz-linear-gradient(top,  #5b5b5b,  #151515);
	position: relative;
}
