{% extends 'EventBundle::layout.html.twig' %}

{% block body %}

    <section class="events">
        <header id="menu">
            <a class="button" href="{{ path('event_new') }}">Create new event</a>
            {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                <a class="button" href="{{ path('logout') }}">Logout</a>
            {% else %}
                <a class="button" href="{{ path('login_form') }}">Login</a>
            {% endif %}
        </header>

        {{ render(controller('EventBundle:Event:_upcomingEvents')) }}
    </section>
{% endblock %}
