<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>
            {%- if block('title') -%}
                {{- block('title') -}} | Starwars Events
            {%- else -%}
                Events from a galaxy for far away
            {%- endif -%}
        </title>
        {% block stylesheets %}
            <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css"/>

            {% stylesheets
            'bundles/event/css/event.css'
            'bundles/event/css/events.css'
            'bundles/event/css/main.css'
            filter='cssrewrite'
            %}
            <link rel="stylesheet" href="{{ asset_url }}">
        {% endstylesheets %}
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% if app.session.flashbag.has('success') %}
            <div class="alert alert-success">
                {% for msg in app.session.flashbag.get('success') %}
                    {{ msg }}
                {% endfor %}
            </div>
        {% endif %}
        {% block body %}{% endblock %}
        {% block javascripts %}
            <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
        {% endblock %}
    </body>
</html>
