{% extends '::base.html.twig' %}

{% block title 'Yay' %}
{% block body %}

    <section class="events">

        {% for i in 1..10 %}
            Hello {{ name }}! # {{ i }}
        {% endfor %}

        <h2>Event Details</h2>
        {{ event.name }}<br>
        {{ event.location }}
    </section>
{% endblock %}